/* TODO etsi githubin fontti koko */
/* TODO Vaihda hex väri homma extensio*/
/* TODO TÄRKEÄ Katso github homma valmiiks */
/*ERROR arvionti sivu, mutta sivu toimii ei varmasti läpäse validaatoria :( */

body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.content {
    background-color: #0d1117;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.underline {
    border: 0;
    height: 2px;
    background-color: #30363d;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
}

ul li {
    margin-bottom: 8px;
}
